* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


html, body, {
    margin: 0px;
    padding: 0px;
}

/* For Desktops */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 10px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(141, 185, 204, 1);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

#slogan-container {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

#slogan {
    font-family: 'Dancing Script';
    color: #4c4c4c;
    float: left;
    margin-left: 10%;
}

#contactLinksContainer {
    position: relative;
    text-align: center;

}

#contactLinks-box {
    float: right;
    margin-right: 10%;
}

.contactLinks {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: arial;

}

.contactLinks:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 5px white;
}

.contactLinks:visited {
    text-decoration: none;
    color: white;
}

#main {
    margin: auto;
}

#banner {
    text-align: center;
}

#banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#banner-content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    padding-bottom: 7%;
    z-index: 2;
}

#logo {
    width: 30%;
    margin: auto;
    margin-bottom: 25px;
}

#banner-text {
    margin: auto;
    color: #4c4c4c;
    font-size: 3vw;
    text-align: center;
}

#banner-text span {
    color: white;
    font-size: 10vw;
}

#info-container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: white;
}

#about-us {
    display: flex;
    margin: auto;
    border-radius: 20px;
}

#about-text {
    margin: 20px;
}

#about-text h1 {
    font-family: "Dancing Script";
}

#about-text p {
    font-family: arial;
    font-size: large;
}

#our-process {
    margin: auto;
    border-radius: 20px;
}

#our-process-text {
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.carousel-img {
    height: 600px;
    width: 810px;
    margin: 0;
    padding: 0;
    flex: 2;
}

.carousel-caption {
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    width: 100%;
}

#services-box {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 0px;
    background-color: rgba(141, 185, 204, .75);
}

#modality-bar {
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
}

#modality-box {
    padding: 0;
    margin: 15px;
}

#modality-box h4{
     background-color: white;
     margin: 0px;
     padding: 10px;
 }

#modality-box img{
    width: 100%;
    height: 175px;
    align-items: center;
}

#modality-box p {
    display: none;
    position: absolute;
}

#modality-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#modality-box:hover p {
    display: block;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    animation: growDown 600ms ease-in-out;
    transform-origin: top center;
}

#addon-box {
    padding: 0;
    margin: 15px;
}

#addon-bar {
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
}

#addon-box h4{
     background-color: white;
     margin: 0px;
     padding: 10px;
}

#addon-box img{
    height: 125px;
    width: 100%;
}

#addon-box p {
    display: none;
    position: absolute;
}

#addon-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#addon-box:hover p {
    display: block;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    animation: growDown 600ms ease-in-out;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

#contactInfo {
    flex: 1;
    margin: 25px;
}

#map {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
}

#map iframe {
    margin-right: 50px;
}

.form-control {
    width: 100%;
}

.form-group label {
    width: 100%;
}
.form-group {

}

footer {

    background-color: rgba(141, 185, 204, 1);
}
#footerBox {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerItems {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.footerItems p {
    text-align: center;
    font-family: arial;
}

#socialMedia {
    text-align: center;
}

#socialMedia a {
    text-decoration: none;
}
.socialMediaBtn {
    height: 50px;
    width: 50px;
}

@media (max-width: 1366px) {
    #info-container {
        flex-direction: column;
    }

    #about-us {
        width: 100%;
    }

    h4 {
        font-size: .875;
    }

}

@media (max-width: 1000px) {

    #slogan-container {
              display: none;
          }

    #contactLinks-box {
        display: contents;
    }

    #our-process {
        width: 100%;
    }

    #map {
        flex-direction: column;
    }

    #map iframe {
        width: 100%;
    }

    #addon-bar {
        flex-wrap: wrap;
    }

    #addon-box {
        width: 33%;
    }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #slogan-container {
          display: none;
      }

  #contactLinks-box {
    display: contents;
  }

  #banner-background {
    display: none;
  }

  #banner-content {
    background-color: rgba(141, 185, 204, 1);
  }

  #logo {
    width: 80%;
  }

  #banner-text {
    font-size: 8.5vw;
  }

  #banner-text span {
    font-size: 20vw;
  }

  #modality-bar, #addon-bar {
    flex-direction: column;
    justify-content: center;
  }

  #addon-box {
    width: 100%;
  }

  #modality-box, #addon-box {
    margin: 0;
    border: 1px solid black;
  }

  #modality-box img, #addon-box img {
    display: none;
  }

  #modality-box:hover img, #addon-box:hover img {
    display: block;
    height: 33%;
    opacity: 1;
    animation: growDown 600ms ease-in-out;
    transform-origin: bottom center;
  }

  #modality-box:hover, #addon-box:hover {
      transform: scale(1.1);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border: none;
  }

  #modality-box:hover p, #addon-box:hover p {
      display: block;
      background-color: white;
      padding: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      opacity: 1;
      animation: growDown 600ms ease-in-out;
      transform-origin: top center;
  }
}