* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


html, body, {
    margin: 0px;
    padding: 0px;
}

/* For Desktops */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #slogan-container {
          display: none;
      }

  #contactLinks-box {
    display: contents;
  }

}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(141, 185, 204, 1);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

#slogan-container {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

#slogan {
    font-family: 'Dancing Script';
    color: #4c4c4c;
    float: left;
    margin-left: 10%;
}

#contactLinksContainer {
    position: relative;
    text-align: center;

}

#contactLinks-box {
    float: right;
    margin-right: 10%;
}

.contactLinks {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;

}

.contactLinks a {
    margin: auto;
    font-family: arial;
    text-decoration-style: none;
    color: white;
}

.contactLinks:hover {
    text-decoration: none;
    background-color: #1dd900;
    color: white;
}

#logo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    z-index: 2;
}
#logo {
    height: 225px;
    width: 400px;
    margin: auto;
    margin-bottom: 25px;
}



#main {
    margin: auto;
}

.main-content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
    background-color: rgba(141, 185, 204, .75);
}

#banner {
    position: relative;
    margin-top: -500px;
    z-index: 1;
    text-align: center;
}



#banner-background {
    position: relative;
    width: 100%;
    z-index: 1;
}

#banner-content {
    position: relative;
    top: -500px;
}

#banner-text {
    margin: auto;
    color: #4c4c4c;
    font-size: 50px;
    text-align: center;
}

#banner-text span {
    color: white;
    font-size: 150px;
}

#info-container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

#about-us {
    display: flex;
    margin: auto;
    border-radius: 20px;
    top: -300px;
}

#about-text {
    margin: 20px;
}

#about-text h1 {
    font-family: "Dancing Script";
}

#about-text p {
    font-family: arial;
    font-size: large;
}

#our-process {
    margin: auto;
    border-radius: 20px;
}

#our-process-text {
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.carousel-img {
    height: 600px;
    width: 810px;
    margin: 0;
    padding: 0;
    flex: 2;
}

.carousel-caption {
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    width: 100%;
}

#services-box {
    text-align: center;
}

#modality-bar {
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
}

#addon-bar {
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
}

.modality-box {
    margin: 0px 25px 25px 25px;
    flex: 1;
    display: inline-block;
    position: relative;
    align-self: flex-end;
}


.modality-box h4{
     background-color: white;
     margin: 0px;
     padding: 10px;
 }

 .modality-box h5{
     background-color: white;
     margin: 0px;
     padding: 10px;
 }

.modality-box img{
    width: 100%;
    height: 175px;
    align-items: center;
}

#addon-box img{
    height: 125px;
}

.modality-box p {
    display: none;
    position: absolute;
}

.modality-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.modality-box:hover p {
    display: block;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    animation: growDown 600ms ease-in-out;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

#contactInfo {
    flex: 1;
    margin: 25px;
}

#map {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
}

#map iframe {
    margin-right: 50px;
}

.form-control {
    width: 100%;
}

.form-group label {
    width: 100%;
}
.form-group {

}

@media (max-width: 950px) {

    #slogan-container {
              display: none;
          }

    #contactLinks-box {
        display: contents;
    }

    #our-process {
        width: 100%;
    }

    #map {
        flex-direction: column;
    }

    #map iframe {
        width: 100%;
    }

}

@media (max-width: 1366px) {
    #info-container {
        flex-direction: column;
    }

    #about-us {
        width: 100%;
    }

}

footer {

    background-color: rgba(141, 185, 204, 1);
}
#footerBox {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerItems {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.footerItems p {
    text-align: center;
    font-family: arial;
}

#socialMedia {
    text-align: center;
}

#socialMedia a {
    text-decoration: none;
}
.socialMediaBtn {
    height: 50px;
    width: 50px;
}