* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


html, body, {
    margin: 0px;
    padding: 0px;
}



header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(141, 185, 204, .75);
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

#contactLinksContainer {
    position: fixed;
    right: 0;
    top: 30px;
}

.contactLinks {
    margin-right: 10px;
    background-color: #f7df1d;
    padding: 10px;
    border-radius: 5px;
}

.contactLinks a {
    margin: auto;
    font-family: arial;
    text-style: none;
    color: black;
}

.contactLinks a:hover {
    text-style: none;
    color: green;
}

#slogan {
    position: relative;
    left: 10px;
    font-family: 'Dancing Script';
    color: #4c4c4c;
}

#main {
    margin: auto;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    background-color: rgba(141, 185, 204, .75);
}

#banner {
    position: absolute;
    margin-top: 0;
    z-index: 1;
    text-align: center;
}

#logo {
    height: 250px;
    width: 400px;
    margin: auto;
}

#banner-background {
    position: relative;
    width: 100%;
    z-index: 1;
}

#banner-content {
    position: relative;
    z-index: 2;
    top: -750px;
}

#banner-text {
    margin-top: 10px;
    color: #4c4c4c;
    font-size: 50px;

}

#banner-text span {
    color: white;
    font-size: 150px;
}

#about-us {
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

#about-text {
    margin: 20px;
}

#about-text h1 {
    font-family: "Dancing Script";
}

#about-text p {
    font-family: arial;
    font-size: large;
}

#about-us img {
    flex: 1;
    width: 33%;
    margin: 20px;
    padding: 0px;
}

#services-box {
    text-align: center;
}

#modality-bar {
    justify-content: center;
    display: flex;
    margin: auto;

}

.modality-box {
    flex: 1;
    display: inline-block;
    position: relative;
    align-self: flex-end;
}

.modality-box h4{
    background-color: white;
    margin: 0px;
    padding: 10px;
}

.modality-box img{
    width: 100%;
    height: 125px;
    align-items: center;

}

.modality-box p {
    display: none;
    position: absolute;
}

.modality-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.modality-box:hover p {
    display: block;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    animation: growDown 600ms ease-in-out;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

#our-process {
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

#our-process-text {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: row;
    background-color: red;
    align-items: center;
}

.carousel-img {
    height: 600px;
    width: 800px;
    margin: 0;
    padding: 0;
    flex: 2;
}

.carousel-caption {
    left: auto;
    right: 0;
    padding: 10px;

}



#contactInfo {
    flex: 1;
}

#map {
    flex: 1;
    padding: 0;
    order: 3;
}

#newsfeed {
    flex: 1;
}

#welcome {
    flex: 2;
}


@media (min-width: 900px) {
    .container {
        display: flex;
    }

    #logo {
        visibility: visible;
    }
}

footer {

    background-color: #fffc54;
}
#footerBox {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerItems {
    display: flex;
    width: 33%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.footerItems p {
    text-align: center;
    font-family: arial;
}

#hours-list {
    text-align: center;
}

#hours {
    margin: auto;
}

#footerNav {
    height: 100%;
    flex: display;
    flex-direction: column;
    align-content: stretch;
    text-align: center;
}

#footerNav li {
    list-style-type: none;
    margin: 0px;
}

#footerNav li a {
    display: inline-block;
    width: 100%
}

#socialMedia {
    text-align: center;
}

#socialMedia a {
    text-decoration: none;
}
.socialMediaBtn {
    height: 50px;
    width: 50px;
}