<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Sunflower Clinic</title>
    <link rel="stylesheet" th:href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<header th:fragment="header">
    <a href="/"><img id="logo" src="/images/Clinic-Logo.png" alt="Sunflower Clinic Logo"/></a>
    <div class="container" id="side_header">
        <div id="slogan" class="container"><h1>You deserve the best treatment.</h1></div>
        <div id="navbar" class="container">
            <div th:replace=" fragments :: navOptions" id="navList"></div>
        </div>
    </div>
</header>

<div th:fragment="navOptions">
    <a class="btn" id="Home" href="/">Home</a>
    <a class="btn" id="About" href="#about-us">About</a>
    <a class="btn" id="Services" href="#services-box">Services</a>
    <a class="btn" id="Process" href="#our-process">Process</a>
    <a class="btn" id="Contact" href="#footer">Contact Us</a>
</div>

<div th:fragment="services" class="main-content" id="services-box">
    <h1>What We Offer</h1></br>
    <div id="modality-bar">
        <div class="modality-box" id="customized-massage"
             onmouseenter="document.getElementById('custom-massage-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('custom-massage-text').style.visibility = 'hidden';"
        >
            <h2>Customized Massage</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="custom-massage-text">You're body is unique, which is why we use a variety of techniques including Swedish, Deep Tissue, Trigger Point, and Sport Massage</p>
        </div>
        <div class="modality-box" id="prenatal-massage"
             onmouseenter="document.getElementById('prenatal-massage-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('prenatal-massage-text').style.visibility = 'hidden';"
        >
            <h2>Prenatal Massage</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="prenatal-massage-text">We utilize state-of-the-art equipment to help relieve stress from expecting mothers, ensuring a smoother, healthier pregnancy.</p>
        </div>
        <div class="modality-box" id="cupping-therapy"
             onmouseenter="document.getElementById('cupping-therapy-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('cupping-therapy-text').style.visibility = 'hidden';"
        >
            <h2>Cupping Therapy</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="cupping-therapy-text">Using suction to pull on the muscle tissue, Cupping Therapy provides a more localized treatment, as well as a safer way to treat soft tissue.</p>
        </div>
        <div class="modality-box" id="hot-stone"
             onmouseenter="document.getElementById('hot-stone-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('hot-stone-text').style.visibility = 'hidden';"
        >
            <h2>Hot Stone Therapy</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="hot-stone-text">You're body is unique, which is why we use a variety of techniques including Swedish, Deep Tissue, Trigger Point, and Sport Massage</p>
        </div>
        <div class="modality-box" id="aromatherapy"
             onmouseenter="document.getElementById('aromatherapy-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('aromatherapy-text').style.visibility = 'hidden';"
        >
            <h2>Aroma Therapy</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="aromatherapy-text">We utilize state-of-the-art equipment to help relieve stress from expecting mothers, ensuring a smoother, healthier pregnancy.</p>
        </div>
        <div class="modality-box" id="face-massage"
             onmouseenter="document.getElementById('face-massage-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('face-massage-text').style.visibility = 'hidden';"
        >
            <h2>Face Massage</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="face-massage-text">Using suction to pull on the muscle tissue, Cupping Therapy provides a more localized treatment, as well as a safer way to treat soft tissue.</p>
        </div>
        <div class="modality-box" id="foot-scrub"
             onmouseenter="document.getElementById('foot-scrub-text').style.visibility = 'visible';"
             onmouseleave="document.getElementById('foot-scrub-text').style.visibility = 'hidden';"
        >
            <h2>Foot</br>Scrub</h2>
            <img src="/images/stones.jpg" alt="Hot Stones"/>
            <p id="foot-scrub-text">Using suction to pull on the muscle tissue, Cupping Therapy provides a more localized treatment, as well as a safer way to treat soft tissue.</p>
        </div>
    </div>

</div>

<div th:fragment="our-process" id="our-process" class="main-content">
        <div id="our-process-text">
            <h1>Our Process</h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="carousel-img" src="/images/Front Desk.jpg" alt="Front Desk">
                    </div>

                    <div class="item">
                        <img class="carousel-img" src="/images/Lobby.jpg" alt="Lobby">
                    </div>

                    <div class="item">
                        <img class="carousel-img" src="/images/Therapy Room.jpg" alt="Therapy Room">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
</div>

<div id="hours-list" th:fragment="hours-list">
    <h3>Hours of Operation</h3>
    <table id="hours">
        <tr>
            <td>Monday</td>
            <td>9:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>9:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>9:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>11:00 AM - 6:00 PM</td>
        </tr>
    </table>
</div>

<footer th:fragment="footer" id="footer">

    <h1 style="text-align: center">Contact Us</h1>
    <div class="container" id="footerBox">

        <div class="footerItems">
            <div th:replace="fragments :: hours-list"></div>
        </div>

        <div class="footerItems" id="contactInfo">
            <p>601 N. Mur-Len Rd.</br>
                Ste. 11A</br>
                Olathe, KS 66062</p>
            <p>(913) 242-0814</a>
            <p>sunflowerclinicmassage@gmail.com</p>
            <div id="socialMedia">
                <a href="https://www.facebook.com/SunflowerClinicMassage">
                    <img src="/images/FB.png" class="socialMediaBtn">
                </a>
                <a href="https://www.instagram.com/sunflowerclinicmassage/">
                    <img src="/images/Insta.png" class="socialMediaBtn">
                </a>
                <a href="https://twitter.com/sunflowerclini1">
                    <img src="/images/Twitter.png" class="socialMediaBtn">
                </a>
                <a href="https://www.yelp.com/biz/sunflower-clinic-olathe?osq=sunflower+clinic">
                    <img src="/images/Yelp.png" class="socialMediaBtn">
                </a>

            </div>
        </div>

    </div>


</footer>
</body>
</html>