<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body style="background-image: url(/images/Sunflower-Girl.jpg">



        <div th:replace="fragments :: header"></div>
        <div id="body-container" style="height: 500px;">
            <div id="main">

                <div class="main-content">
                <form>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>



            </div>
        </div>

        <footer th:replace="fragments :: footer"></footer>
    </div>
</div>



</body>
</html>